<ion-modal-view ng-controller="MatchController as match">
    <ion-header-bar class="bar-positive">
        <h1 class="title"></h1>
        <button class="button button-positive button-icon icon ion-close" name="button"></button>
    </ion-header-bar>
    <ion-content padding="true" has-header="false">
        <div style="text-align: center">
            <img class="headline-padding" src="img/neon-logo-full.svg" height="50px"/>
        </div>
        <h1 class="text-center">Its a match!</h1>
        <div class="row">
            <div class="col text-center">
                <img src="https://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" height="120px" alt="" />
            </div>
            <div class="col text-center">
                <img src="https://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" height="120px" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="text-center">You matched with user Anna19</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-positive icon icon-right ion-chatbubbles" name="button"> Send Message </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-positive button-clear" name="button">or continue playing </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
