<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Terms & Conditions</h1>
    </ion-header-bar>
    <ion-content padding="true" style="padding: 20px;">
        <br>
        <div class="text-center">
            <img src="./img/neon-logo-full.svg" height="40px;" alt="" />
        </div>
        <br>
        <div style="text-align: justify">
            <h3>Meet your swing partners</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <br>
        <button class="button button-positive button-block" name="button" ng-controller="RegisterController as register" ng-click="register.closeTerms()">OK</button>
    </ion-content>
</ion-modal-view>
