<ion-view title="Account">
    <ion-content padding="true">
        <form class="list" name="accountForm" ng-submit="account.saveAccount()">
            <ion-list>
                <label class="item item-input" name="email">
                    <input type="email" placeholder="email@example.com" name="username" ng-model="account.accountData.email" disabled>
                </label>
                <label class="item item-input" name="username">
                    <input type="text" placeholder="username" name="username" ng-model="account.accountData.username" disabled>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="password" name="password"
                    ng-model="account.accountData.password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="new password" name="newPassword"
                    ng-model="account.accountData.newPassword"
                    ng-minlength="4"
                    ng-pattern="/^[a-zA-Z0-9!@#$%^&*]{4,}$/">
                    <span ng-show="accountForm.newPassword.$touched">
                        <i ng-show="accountForm.newPassword.$invalid" class="ion-close assertive"></i>
                        <i ng-show="accountForm.newPassword.$valid" class="ion-checkmark positive"></i>
                    </span>
                </label>
                <label class="item item-input" name="passwordRepeat">
                    <input type="password" placeholder="repeat password" name="passwordRepeat" ng-model="account.accountData.repeatPassword">
                    <span ng-show="accountForm.passwordRepeat.$dirty">
                        <i ng-show="accountForm.passwordRepeat.$invalid || (account.accountData.newPassword != account.accountData.repeatPassword)" class="ion-close assertive"></i>
                        <i ng-show="accountForm.passwordRepeat.$valid && (account.accountData.newPassword == account.accountData.repeatPassword)" class="ion-checkmark positive"></i>
                    </span>
                </label>
            </ion-list>
            <br>
            <ion-list>
                <ion-toggle toggle-class="toggle-positive" ng-model="account.accountData.visibility" name="visibility">Is my profile discoverable</ion-toggle>
                <ion-toggle toggle-class="toggle-positive" ng-model="account.accountData.push" name="push">Push Notifications</ion-toggle>
            </ion-list>
            <button class="button button-positive button-block" type="submit" ng-disabled="(account.accountData.newPassword != account.accountData.repeatPassword)">Save</button>
        </form>
        <div class="text-center">
            <p> Your current plan is
                <strong>FREE</strong>
            </p>
            <button class="button button-balanced button-clear button-small icon-right ion-chevron-right">Upgrade</button>
        </div>
    </ion-content>
</ion-view>
