<ion-view title="Password reset">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="text-center">
        <img src="img/neon-logo-full.svg" class="headline-padding" height="50px"/>
        <p>
            Meet your swing partners and just have fun.
        </p>
      </div>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="email">
                    <input type="email" placeholder="email@example.com">
                </label>
            </ion-list>
            <button class="button button-positive button-block ">Reset</button>
        </form>
    </ion-content>
</ion-view>
