<ion-view title="Profile">
    <ion-nav-buttons side="right">
        <a ng-show="profileview.matched" ui-sref="conversations" class="button button-icon button-calm icon ion-ios-chatbubble-outline"></a>
    </ion-nav-buttons>
    <ion-content padding="false">
        <ion-slide-box show-pager="false" ng-show="profileview.slider">
            <ion-slide ng-repeat="image in profileview.gallery | orderBy: image.position" style="background-image: url({{image.image}}); width: 100%; height: 300px;background-size: cover; background-color: white;"></ion-slide>
        </ion-slide-box>
        <div class="info-container">
            <div class="row">
                <div class="col">
                    {{profileview.user.name}}&nbsp;{{profileview.user.age}}
                    <span ng-if="profile.user.name_opt">&nbsp;&amp;&nbsp;{{profileview.user.name_opt}}&nbsp;{{profileview.user.age_opt}}</span>
                </div>
                <div class="col text-right" ng-bind-html="profileview.user.profileType | EnumTypes"></div>
            </div>
            <div class="row">
                <div class="col">
                    <small><img src="./img/ico/location.svg" height="15px" alt="" />&nbsp;Location</small>
                </div>
                <div class="col align-right">
                    <small>Looking for</small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{profileview.user.locationString}}
                </div>
                <div class="col align-right">
                    <span ng-repeat="type in profileview.user.lookingFor" ng-bind-html="type | EnumTypes"></span>
                </div>
            </div>
            <div class="about">
                <p>{{profileview.user.about}}</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="custom-footer" ng-hide="profileview.matched">
        <div class="controls-container">
            <div class="row">
                <div class="col">
                    <button class="button button-block button-clear button-large icon ion-ios-close-outline"></button>
                </div>
                <div class="col text-center">
                    <img src="img/neon-logo.svg" height="50px"/>
                </div>
                <div class="col">
                    <button class="button button-block button-clear button-large icon ion-ios-heart-outline"></button>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
