<ion-view title="My Profile">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-images" ui-sref="profileGallery"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div ng-click="profile.show()" class="profile-image-container">
            <img ng-show="profile.image" ng-src="{{profile.image}}" width="250" height="250" />
            <div ng-hide="profile.image" class="profile-image-icon">
                <i class="ion-camera"></i>
            </div>
        </div>
        <form name="profileForm" ng-submit="profile.saveProfile()">
            <br>
            <ion-list>
                <label class="item item-select" name="profileType">
                    <span class="input-label">Profile Type</span>
                    <select ng-model="profile.profileData.profileType" name="profileType" required>
                        <option selected disabled>Select</option>
                        <option value="couple">Couple</option>
                        <option value="single_men">Single Men</option>
                        <option value="single_women">Single Women</option>
                    </select>
                </label>
            </ion-list>
            <ion-list>
                <label class="item item-select" name="lookingFor">
                    <span class="input-label">Looking For</span>
                    <select ng-model="profile.profileData.lookingFor" name="lookingFor" required>
                        <option selected disabled>Select</option>
                        <option value="couple">Couple</option>
                        <option value="single_men">Single Men</option>
                        <option value="single_women">Single Women</option>
                    </select>
                </label>
            </ion-list>
            <br>
            <ion-list>
                <ion-item class="separator text-center">You</ion-item>
                <label class="item item-input">
                    <input type="text" placeholder="Name" name="name" ng-model="profile.profileData.name" required>
                    <span ng-show="profileForm.name.$touched">
                        <i ng-show="profileForm.name.$invalid" class="ion-close assertive"></i>
                    </span>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Age" name="age" ng-model="profile.profileData.age" min="18" max="119" required>
                    <span ng-show="profileForm.age.$touched">
                        <i ng-show="profileForm.age.$invalid" class="ion-close assertive"></i>
                    </span>
                </label>
            </ion-list>
            <br>
            <ion-list ng-show="profile.profileData.profileType == 'couple'">
                <ion-item class="separator text-center">Partner</ion-item>
                <label class="item item-input">
                    <input type="text" placeholder="Name" name="name_opt" ng-model="profile.profileData.name_opt" ng-required="profile.profileData.profileType == 'couple'">
                    <span ng-show="profileForm.name_opt.$touched">
                        <i ng-show="profileForm.name_opt.$invalid" class="ion-close assertive"></i>
                    </span>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Age" name="age_opt" ng-model="profile.profileData.age_opt" min="18" max="119" ng-required="profile.profileData.profileType == 'couple'">
                    <span ng-show="profileForm.age_opt.$touched">
                        <i ng-show="profileForm.age_opt.$invalid" class="ion-close assertive"></i>
                    </span>
                </label>
            </ion-list>
            <br>
            <ion-list>
                <label class="item item-input" name="location">
                    <input type="text" placeholder="Location (City name, Country)" name="location" ng-model="profile.profileData.locationTemp" ng-focus="profile.searchAddress()" required>
                    <span ng-show="profileForm.location.$touched">
                        <i ng-show="profileForm.location.$invalid" class="ion-close assertive"></i>
                    </span>
                </label>
                <label class="item item-input" name="about">
                    <textarea placeholder="About me/us" rows="6" ng-model="profile.profileData.about" required name="about"></textarea>
                    <span ng-show="profileForm.about.$touched">
                        <i ng-show="profileForm.about.$invalid" class="ion-close assertive"></i>
                    </span>
                </label>
            </ion-list>
            <button class="button button-positive button-block" ng-disabled="profileForm.$invalid || !profile.image" type="submit">Save</button>
        </form>
    </ion-content>
</ion-view>
