<ion-view title="Register">
    <ion-content padding="true" class="has-header">
        <form class="list" name="registerForm" ng-submit="register.register()" novalidate>
            <ion-list>
                <label class="item item-input icon" name="email">
                    <input type="email" name="email" placeholder="email@example.com"
                        ng-model="register.registerData.email"
                        ng-keyup="registerForm.email.$valid ? register.validateEmail(): ''"
                        ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                    <span ng-show="registerForm.email.$touched && !register.validatingEmail">
                        <i ng-show="registerForm.email.$invalid || register.emailTaken" class="ion-close assertive"></i>
                        <i ng-show="registerForm.email.$valid && !register.emailTaken" class="ion-checkmark positive"></i>
                    </span>
                    <ion-spinner ng-show="register.validatingEmail"></ion-spinner>
                </label>
                <label class="item item-input" name="username">
                    <input type="text" placeholder="username" name="username"
                        ng-model="register.registerData.username"
                        ng-keyup="registerForm.username.$valid ? register.validateUsername(): ''"
                        ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9_]{6,16}$/"
                        ng-minlength="6"
                        ng-maxlength="16" required>
                    <span ng-show="registerForm.username.$touched && !register.validatingUsername">
                        <i ng-show="registerForm.username.$invalid || register.usernameTaken" class="ion-close assertive"></i>
                        <i ng-show="registerForm.username.$valid && !register.usernameTaken" class="ion-checkmark positive"></i>
                    </span>
                    <ion-spinner ng-show="register.validatingUsername"></ion-spinner>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="password" name="password"
                    ng-model="register.registerData.password"
                    ng-minlength="4"
                    ng-pattern="/^[a-zA-Z0-9!@#$%^&*]{4,}$/"
                    required>
                    <span ng-show="registerForm.password.$touched">
                        <i ng-show="registerForm.password.$invalid" class="ion-close assertive"></i>
                        <i ng-show="registerForm.password.$valid" class="ion-checkmark positive"></i>
                    </span>
                </label>
                <label class="item item-input" name="passwordRepeat">
                    <input type="password" placeholder="repeat password" name="passwordRepeat" ng-model="register.registerData.repeatPassword" required>
                    <span ng-show="registerForm.passwordRepeat.$dirty">
                        <i ng-show="registerForm.passwordRepeat.$invalid || (register.registerData.password != register.registerData.repeatPassword)" class="ion-close assertive"></i>
                        <i ng-show="registerForm.passwordRepeat.$valid && (register.registerData.password == register.registerData.repeatPassword)" class="ion-checkmark positive"></i>
                    </span>
                </label>
                <ion-checkbox name="terms" ng-model="register.terms" ng-init="register.terms = false">I accept terms &amp; conditions</ion-checkbox>
            </ion-list>
            <button class="button button-positive button-block" type="submit" ng-disabled="registerForm.$invalid || (register.registerData.password != register.registerData.repeatPassword) || register.emailTaken || register.usernameTaken || register.terms==false">Register</button>
            <button class="button button-stable button-icon button-block  icon ion-social-facebook"></button>
        </form>
    </ion-content>
</ion-view>
