<ion-view title="Settings">
    <ion-content padding="true">
        <a ui-sref="profileEdit" class="button button-stable button-block">Profile</a>
        <a ui-sref="account" class="button button-stable button-block ">Account</a>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <button class="button button-stable button-block ">Share</button>
        <div class="spacer" style="height: 100px;"></div>
        <button class="button button-stable button-block" ng-click="settings.logout()">Logout</button>
    </ion-content>
</ion-view>
